<nb-card status="primary">
    <nb-card-header>
      <div class="text-center">
        <span >
          CURSOS |
        </span>
        <span class="font-weight-light" >
          Lista de cursos que pertenecen al Area
        </span>
      </div>
      <div>
        
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--<form >
        <div class="form-group">
          <label for="nombre" class="label required">Nombre</label>
         
        </div>
        <div class="form-group">
          <label for="llave" class="label required">Llave</label>
          
        </div>
        <div class="form-group text-center open-button-end">
          <button nbButton status="basic" size="small" >
            
            Limpiar
          </button>
          <button nbButton status="primary" size="small" >
            
            Guardar
          </button>
        </div>
      </form>-->
  
      <div class="table-responsive">
        <table class="table table-sm col-form-label-sm table-hover">
          <thead>
            <tr>
              <th>N</th>
              <th>Nombre</th>
              <!--<th>Llave</th>-->
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
              
            <tr *ngFor="let n of cursos">
              <th scope="row">{{n.id}}</th>
              <td>{{n.nom_curso}}</td>
              
              
            </tr>
        
            </tbody>
          
        </table>
      </div>
    </nb-card-body>
    <nb-card-footer class="text-right open-button-end">
  
      <!-- <button nbButton status="basic" size="small" (click)="onClose()">
        <nb-icon icon="close-outline"></nb-icon>
        Cancelar
      </button>
  
      <button nbButton status="primary" size="small" (click)="onSave()">
        <nb-icon icon="save-outline"></nb-icon>
        Guardar
      </button> -->
  
    </nb-card-footer>
  </nb-card>

  
  
  
  

