<nb-card status="primary" size="long">
    <nb-card-header>
      <div class="text-center">
        <span >
          Contratos |
        </span>
        <span class="font-weight-light" >
          Lista de contratos que pertenecen al Alumno
        </span>
      </div>
      <div>
        
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--<form >
        <div class="form-group">
          <label for="nombre" class="label required">Nombre</label>
         
        </div>
        <div class="form-group">
          <label for="llave" class="label required">Llave</label>
          
        </div>
        <div class="form-group text-center open-button-end">
          <button nbButton status="basic" size="small" >
            
            Limpiar
          </button>
          <button nbButton status="primary" size="small" >
            
            Guardar
          </button>
        </div>
      </form>-->
  
      <div class="table-responsive">
        <table class="table table-sm col-form-label-sm table-hover">
          <thead>
            <tr>
              <th>N</th>
              <th>Coddd</th>
              <!--<th>Confirmado</th>
              
              <th>Alumno</th>
              <th>Representante</th>
              <th>Periodo</th>
              <th>Created at</th>
              <th>Updated at</th>-->
              <!--<th>Llave</th>-->
              
            </tr>
          </thead>
          <tbody>
              
            <tr *ngFor="let n of cargas">
              <th scope="row">{{n.id}}</th>
              <td>ll</td>
              <!--<td>{{n.confirmacion}}</td>
              <td>{{n.alumno.name}}</td>
              <td>{{n.representante.name}}</td>
              <td>{{n.periodo.nom_periodo}}</td>-->
              
              
            </tr>
        
            </tbody>
          
        </table>
      </div>
    </nb-card-body>
    
  </nb-card>

  <nb-card size="small">
    <nb-card-body>
      <nb-select multiple placeholder="Multiple Select">
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>
    </nb-card-body>
  </nb-card>
  
  
  
  


