<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  


  

  
  <div class="modal-body">
    <form [formGroup]="seccionForm">
      <div class="form-group">
        <label for="dateOfBirth">Seccion</label>
        <div class="input-group">
  
          <input id="dateOfBirth" class="form-control" placeholder="nivel" name="dp" formControlName="nom_seccion">
  
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth2">Descripcion</label>
        <div class="input-group">
  
          <input id="dateOfBirth2" class="form-control" placeholder="descripción" name="dp" formControlName="desc_seccion">
  
        </div>
      </div>

      

      <div class="form-group col-md-6">
        <label for="grado_id1" class="label required">Nivel</label>
        <select class="form-control  form-control-sm" (change)="getGradosOfNivel($event)"  name="test" placeholder="Nivel" size="small" 
          name="grado_id1" id="grado_id1">
          <option *ngFor="let item of niveles" [value]="item.id" >{{ item.nom_nivel }}
          </option>
          
          <option></option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="grado_id1" class="label required">Grado</label>
        <select class="form-control  form-control-sm" formControlName="grado_id1" placeholder="Nivel" size="small" fullWidth
          name="grado_id1" id="grado_id1">
          <option  (keyup)="fetchSeries($event)"  [(ngModel)]="searchInput"  *ngFor="let item of grados" [value]="item.id">{{ item.nom_grado }}
          </option>
          
          <option></option>
        </select>
      </div>
      

    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="seccionForm.invalid">Guardar</button>
    </div>
  </div>
  
  


