<br>
<br>
<br><br>
<br>

<div class="container">

  <button class="btn btn-primary" (click)="newAlumno()"> Agregar Alumno</button>
  
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Código de Alumno</th>
      <th scope="col">Id usuario</th>
      <th scope="col">Date Created</th>
      <th scope="col">Date Updated</th>
      <th scope="col"> Opciones</th>
    </tr>
    </thead>
    <tbody>
      
    <tr *ngFor="let n of alumnos">
      <th scope="row">{{n.id}}</th>
      <td>{{n.cod_alumno}}</td>
      <td>{{n.user_id}}</td>
      <td>{{n.created_at}}</td>
      <td>{{n.updated_at}}</td>
      <td><button class="btn-danger" (click)="delete(n.id)">Eliminar</button>
        <button class="btn-primary" (click)="editAlumno(n.id)">Editar</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>

